ssh-key-name: some_key
image-name: centos7
openstack-network-name: orchestrator-network
security-groups: default,remote_access,registry
flavor-name: m1.large
docker-network: sodalite
docker-public-registry-url: registry.hub.docker.com
docker-registry-cert-country-name: SI
docker-registry-cert-organization-name: XLAB
docker-registry-cert-email-address: $SODALITE_EMAIL