#PBS -S /bin/bash
#PBS -m abe
#PBS -N {{ job_name }}
#PBS -M {{ job_email }}
#PBS -l nodes={{ job_nb_nodes }}:ppn={{ job_ppn }},walltime={{ job_walltime }},gpus={{ job_gpus }}

cd {{ job_workspace }}

# Pulling tensorflow gpu image, -F forces overwrite
# singularity pull -F docker://tensorflow/tensorflow:1.11.0-gpu

# Hardcoded location of the training dataset: /mnt/nfs/home/aishared/skyline-extraction-patches-dataset
# Hardcoded binding of the shared home with the container home: -B /mnt/nfs/home/:/mnt/nfs/home/

# Tests access to the dataset location, a user must be in the "aishared" group (via LDAP)
/usr/local/bin/singularity exec -B /mnt/nfs/home/:/mnt/nfs/home/ --nv tensorflow_1.11.0-gpu.sif ls /mnt/nfs/home/aishared/skyline-extraction-patches-dataset

# Run test training (peaklens-original-training_opt.py). For full training - peaklens-original-training.py
/usr/local/bin/singularity exec -B /mnt/nfs/home/:/mnt/nfs/home/ --nv tensorflow_1.11.0-gpu.sif python peaklens-original-training_opt.py