tosca_definitions_version: tosca_simple_yaml_1_3

imports:
  - library/torque/main.yml

topology_template:

  inputs:
    artifacts-location:
      type: string
    frontend-address:
      type: string
    user:
      type: string
    key-location:
      type: string
    email:
      type: string


  node_templates:

    hpc-wm-torque:
      type: sodalite.nodes.hpc.wm.torque
      attributes:
        public_address: { get_input: frontend-address }
        username: { get_input: user }
        ssh-key: { get_input: key-location }

    hpc-job-torque-1:
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-1
        script: ${XOPERA_ARTIFACTS_LOCATION}/job.sh # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.sh ] }
        workspace: ~
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque

    hpc-job-torque-4: # intentionally put this job out of order to check dependencies
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-4
        script: ${XOPERA_ARTIFACTS_LOCATION}/job.sh # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.sh ] }
        workspace: ~
        email: { get_input: email }
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
        enable_audit: true
      requirements:
        - host: hpc-wm-torque
        - dependency: hpc-job-torque-2
        - dependency: hpc-job-torque-3

    hpc-job-torque-2:
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-2
        script: ${XOPERA_ARTIFACTS_LOCATION}/job.sh # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.sh ] }
        workspace: ~
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque
        - dependency: hpc-job-torque-1

    hpc-job-torque-3:
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-3
        # script: ${XOPERA_ARTIFACTS_LOCATION}/failed.job.sh # if you want to fail the job
        script: ${XOPERA_ARTIFACTS_LOCATION}/job.sh # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.sh ] }
        workspace: ~
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque
        - dependency: hpc-job-torque-1
    

  outputs:
    job-1-audit:
      description: Job 1 audit values
      value: { get_attribute: [ hpc-job-torque-1, audit ] }
    job-2-audit:
      description: Job 2 audit values
      value: { get_attribute: [ hpc-job-torque-2, audit ] }
    job-3-audit:
      description: Job 3 audit values
      value: { get_attribute: [ hpc-job-torque-3, audit ] }
    job-4-audit:
      description: Job 4 audit values
      value: { get_attribute: [ hpc-job-torque-4, audit ] }