tosca_definitions_version: tosca_simple_yaml_1_3

imports:
  - library/torque/main.yml

topology_template:

  inputs:
    artifacts-location:
      type: string
    frontend-address:
      type: string
    user:
      type: string
    key-location:
      type: string
    email:
      type: string


  node_templates:

    hpc-wm-torque:
      type: sodalite.nodes.hpc.wm.torque
      attributes:
        public_address: { get_input: frontend-address }
        username: { get_input: user }
        ssh-key: { get_input: key-location }

    hpc-job-torque-1:
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-1
        script_template: ${XOPERA_ARTIFACTS_LOCATION}/job.pbs.j2 # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.pbs.j2 ] }
        workspace: ~
        email: { get_input: email }
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque

    hpc-job-torque-4: # intentionally put this job out of order to check dependencies
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-4
        script_template: ${XOPERA_ARTIFACTS_LOCATION}/job.pbs.j2 # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.pbs.j2 ] }
        workspace: ~
        email: { get_input: email }
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque
        - dependency: hpc-job-torque-2
        - dependency: hpc-job-torque-3

    hpc-job-torque-2:
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-2
        script_template: ${XOPERA_ARTIFACTS_LOCATION}/job.pbs.j2 # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.pbs.j2 ] }
        workspace: ~
        email: { get_input: email }
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque
        - dependency: hpc-job-torque-1

    hpc-job-torque-3:
      type: sodalite.nodes.hpc.job.torque
      properties:
        name: hpc-test-3
        script_template: ${XOPERA_ARTIFACTS_LOCATION}/failed.job.pbs.j2 # no support for concat intrinsic function - { concat: [ { get_input: artifacts-location }, "/", job.pbs.j2 ] }
        workspace: ~
        email: { get_input: email }
        nb_nodes: 1
        ppn: 20
        walltime: 00:30:00
      requirements:
        - host: hpc-wm-torque
        - dependency: hpc-job-torque-1
        